<div xmlns:th="http://www.thymeleaf.org" th:fragment="activityFeed">
    <div class="card">
        <div class="card-body">

            <div class="card-title border-bottom">Activity Feed</div>

            <ul class="feedBody">
                <li class="active-feed">
                    <div class="feed-user-img">
                        <img src="https://placeimg.com/40/40/people/sepia" class="img-radius " alt="User-Profile-Image">
                    </div>
                    <h6>
                        <span class="badge badge-pill badge-primary">File</span> Sarah Smith <small class="text-muted">6
                        hours ago</small>
                    </h6>
                    <p class="m-b-15 m-t-15">
                        hii John, I have upload doc related to task.
                    </p>
                </li>
                <li class="diactive-feed">
                    <div class="feed-user-img">
                        <img src="https://placeimg.com/40/40/people/sepia" class="img-radius " alt="User-Profile-Image">
                    </div>
                    <h6>
                        <span class="badge badge-pill badge-danger">Task </span> Jalpa Joshi<small class="text-muted">5
                        hours
                        ago</small>
                    </h6>
                    <p class="m-b-15 m-t-15">
                        Please do as specify. Let me know if you have any query.
                    </p>
                </li>
                <li class="diactive-feed">
                    <div class="feed-user-img">
                        <img src="https://placeimg.com/40/40/people/sepia" class="img-radius " alt="User-Profile-Image">
                    </div>
                    <h6>
                        <span class="badge badge-pill badge-primary">comment</span> Lina
                        Smith<small class="text-muted">6 hours ago</small>
                    </h6>
                    <p class="m-b-15 m-t-15">
                        Hey, How are you??
                    </p>
                </li>

                <li class="active-feed">
                    <div class="feed-user-img">
                        <img src="https://placeimg.com/40/40/people/sepia" class="img-radius " alt="User-Profile-Image">
                    </div>
                    <h6>
                        <span class="badge badge-pill badge-dark">Reply</span> Jacob Ryan
                        <small class="text-muted">7 hours ago</small>
                    </h6>
                    <p class="m-b-15 m-t-15">
                        I am fine. You??
                    </p>
                </li>
            </ul>
        </div>
    </div>


</div>