<div xmlns:th="http://www.thymeleaf.org" th:fragment="courseItem">

    <div class="card">
        <img src="https://placeimg.com/300/220/tech">
        <div class="card-body">
            <div class="card-title">PHP Development Course</div>
        </div>
        <h5 class="card-header">
            <div class="d-flex">
                <span class="mr-auto">April 23</span>
                <span>
                            <span class="mdi mdi-heart-outline"></span>
                                <span>654</span>
                            </span>
            </div>
        </h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-black">Duration: 6 Months</li>
            <li class="list-group-item text-black">Professor: Jane Doe</li>
            <li class="list-group-item text-black">
                Students: 200+
            </li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">READ MORE</a>
        </div>
    </div>


</div>