<section id="sidebar" xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar">

    <div class="title text-center text-white align-self-center py-3">
        <a href="/eschoolos/dashboard/reports" class="text-white" style="text-decoration: none; font-size: 22px">
            eSchoolos
        </a>

        <div class="profile d-flex p-3 align-items-center">
            <div class="avatar">
                <div class="img-div"
                     th:style="'background-image: url(' + @{/img/admin-profile.jpg} + ');'">
                </div>
            </div>
            <div class="info pl-2 text-left">
                <p>Admin</p>
                <div class="status">
                    <span class="bg-success"
                          style="display: inline-block; width: 12px; height: 12px; border-radius: 12px;"></span>
                    <span>Online</span>
                </div>
            </div>
        </div>

    </div>


    <ul class="list-group list-group-flush">

        <li class="list-group-item"
            th:classappend="${#httpServletRequest.getRequestURI().contains('/reports') ? 'active':''}">
            <a href="/eschoolos/dashboard/reports">
                <span class="mdi mdi-view-dashboard"></span> Dashboard
            </a>
        </li>

        <!--    Students    -->
        <li class="list-group-item"
            th:classappend="${#httpServletRequest.getRequestURI().contains('/student') ? 'active':''}">
            <a href="/eschoolos/dashboard/student/list">
                <span class="mdi mdi-account-multiple"></span> Students
            </a>
            <ul class="sub-list-group">
                <li class="sub-list-group-item">
                    <a href="/eschoolos/dashboard/student/list">
                        All Student
                    </a>
                </li>
                <li class="sub-list-group-item">
                    <a href="/eschoolos/dashboard/student/new">
                        New Student
                    </a>
                </li>
                <li class="sub-list-group-item">
                    <a href="/eschoolos/dashboard/student/profile">
                        Student Profile
                    </a>
                </li>
            </ul>
        </li>

        <!--   Professor     -->
        <li class="list-group-item"
            th:classappend="${#httpServletRequest.getRequestURI().contains('/professor') ? 'active':''}">
            <a href="/eschoolos/dashboard/professor/list">
                <span class="mdi mdi-account-multiple-outline"></span> Professors
            </a>

            <ul class="sub-list-group">
                <li class="sub-list-group-item">
                    <a href="/eschoolos/dashboard/professor/list">
                        All Professors
                    </a>
                </li>
                <li class="sub-list-group-item">
                    <a href="/eschoolos/dashboard/professor/new">
                        New Professor
                    </a>
                </li>
                <li class="sub-list-group-item">
                    <a href="/eschoolos/dashboard/professor/profile">
                        Professor Profile
                    </a>
                </li>
            </ul>
        </li>

        <!--    Courses    -->
        <li class="list-group-item"
            th:classappend="${#httpServletRequest.getRequestURI().contains('/course') ? 'active':''}">
            <a href="/eschoolos/dashboard/course/list">
                <span class="mdi mdi-school"></span> Courses
            </a>

            <ul class="sub-list-group">
                <li class="sub-list-group-item">
                    <a href="/eschoolos/dashboard/course/list">
                        All Courses
                    </a>
                </li>
                <li class="sub-list-group-item">
                    <a href="/eschoolos/dashboard/course/new">
                        New Course
                    </a>
                </li>
            </ul>

        </li>

        <!--   Library    -->
        <li class="list-group-item"
            th:classappend="${#httpServletRequest.getRequestURI().contains('/library') ? 'active':''}">
            <a href="/eschoolos/dashboard/library/list">
                <span class="mdi mdi-library"></span> Library
            </a>

            <ul class="sub-list-group">
                <li class="sub-list-group-item">
                    <a href="/eschoolos/dashboard/library/list">
                        All Library Assets
                    </a>
                </li>
                <li class="sub-list-group-item">
                    <a href="/eschoolos/dashboard/library/new">
                        New Library Asset
                    </a>
                </li>
            </ul>


        </li>

        <!--   Departments     -->
        <li class="list-group-item"
            th:classappend="${#httpServletRequest.getRequestURI().contains('/department') ? 'active':''}">
            <a href="/eschoolos/dashboard/department/list">
                <span class="mdi mdi-city"></span> Departments
            </a>

            <ul class="sub-list-group">
                <li class="sub-list-group-item">
                    <a href="/eschoolos/dashboard/department/list">
                        All Departments
                    </a>
                </li>
                <li class="sub-list-group-item">
                    <a href="/eschoolos/dashboard/department/new">
                        New Department
                    </a>
                </li>
            </ul>
        </li>

        <!--   Staffs     -->
        <li class="list-group-item"
            th:classappend="${#httpServletRequest.getRequestURI().contains('/staff') ? 'active':''}">
            <a href="/eschoolos/dashboard/staff/list">
                <span class="mdi mdi-face"></span> Staff
            </a>

            <ul class="sub-list-group">
                <li class="sub-list-group-item">
                    <a href="/eschoolos/dashboard/staff/list">
                        All Staffs
                    </a>
                </li>
                <li class="sub-list-group-item">
                    <a href="/eschoolos/dashboard/staff/new">
                        New Staff
                    </a>
                </li>
                <li class="sub-list-group-item">
                    <a href="/eschoolos/dashboard/staff/profile">
                        Staff Profile
                    </a>
                </li>
            </ul>
        </li>

        <!--    Extra pages    -->
        <li class="list-group-item active">
            <a >
                <span class="mdi mdi-file-document"></span> Extra pages
            </a>

            <ul class="sub-list-group">
                <li class="sub-list-group-item">
                    <a href="/eschoolos/extra/login">
                        Sign In
                    </a>
                </li>
                <li class="sub-list-group-item">
                    <a href="/eschoolos/extra/signup">
                        Sign Up
                    </a>
                </li>
                <li class="sub-list-group-item">
                    <a href="/eschoolos/extra/page-404">
                        404 Page
                    </a>
                </li>
                <li class="sub-list-group-item">
                    <a href="/eschoolos/extra/page-500">
                        500 Page
                    </a>
                </li>
                <li class="sub-list-group-item">
                    <a href="/eschoolos/extra/page-blank">
                        Blank Page
                    </a>
                </li>
            </ul>

        </li>
    </ul>

</section>